*{
margin: 0;
font-family: serif;
color: #333;

}
.navbar{
padding: 20px;
display: flex;
align-items: center;
max-width: 600px;
margin: 0 auto ;
border-bottom: 1px #f2f2f2 solid ;

}

.navbar h1 {
color: rgb(58, 193, 247);
}
.navbar .links {
margin-left: auto;
}
.navbar a {
margin-left: 16px ;
text-decoration: none;
padding: 6px;
}
.navbar a:hover{
color: rgb(2, 178, 248);

}
.content {
 max-width: 600px ;
margin: 40px auto ;
padding: 20px ;

}
.blog-preview {
padding: 10px 60px ;
margin: 20px 0 ;
border-bottom: 1px solid rgb(24, 21, 21);
}
.blog-preview:hover {
box-shadow: 1px 3px 5px rgb(2, 178, 248);
  border: rgb(2, 178, 248);
}
.blog-preview h1{
font-size: 20px ;
color: rgb(16, 157, 212);
margin-bottom: 8px ;
font-family: 'Courier New', Courier, monospace;
}
p{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
.blog-preview {
  text-decoration: none;
}
/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #1388f5;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #1388f5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}








